services:
   airflow-init:
     build: .
     environment:
       - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
       - AIRFLOW__CORE__FERNET_KEY=PAqBeGJLJTYFzVkOGHWIYXdLO7XdXz5yTdxAGJe9ezM=
       - AIRFLOW__CORE__LOAD_EXAMPLES=False
       - PYTHONPATH=/opt/airflow
       - AIRFLOW__WEBSERVER__BASE_URL=http://localhost:8080
       - AIRFLOW__LOGGING__REMOTE_LOGGING=False
       - AIRFLOW__LOGGING__BASE_LOG_FOLDER=/opt/airflow/logs
       - AIRFLOW__CORE__BASE_LOG_FOLDER=/opt/airflow/logs
       - AIRFLOW__LOGGING__LOGGING_LEVEL=INFO
       - AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True
       - AIRFLOW__WEBSERVER__WORKER_LOG_SERVER_PORT=8793
       - AIRFLOW__LOGGING__LOG_FILENAME_TEMPLATE="{{ ti.dag_id }}/{{ ti.task_id }}/{{ ts }}/{{ try_number }}.log"
      
       - AIRFLOW__EMAIL__EMAIL_BACKEND=airflow.providers.smtp.utils.sendgrid.SendgridEmailBackend
       - AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
       - AIRFLOW__SMTP__SMTP_PORT=587
       - AIRFLOW__SMTP__SMTP_USER=your-email@gmail.com
       - AIRFLOW__SMTP__SMTP_PASSWORD=your-app-password
       - AIRFLOW__CORE__DEFAULT_VIEW=graph
       
       - SPARK_HOME=/usr/local/spark
       - PYSPARK_PYTHON=/usr/local/bin/python3
       - PYSPARK_DRIVER_PYTHON=/usr/local/bin/python3
     volumes:
       - airflow_data:/opt/airflow
       - ./dags:/opt/airflow/dags
       - ./utils:/opt/airflow/utils
       - ./data:/opt/airflow/data
       - ./datamart:/opt/airflow/datamart
       - ./model_bank:/opt/airflow/model_bank
       - ./logs:/opt/airflow/logs
       - ./plugins:/opt/airflow/plugins
     entrypoint: >
       /bin/bash -c "airflow db init &&
       airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com || true"
   airflow-webserver:
     build: .
     depends_on:
       - airflow-init
     environment:
       - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
       - AIRFLOW__CORE__FERNET_KEY=PAqBeGJLJTYFzVkOGHWIYXdLO7XdXz5yTdxAGJe9ezM=
       - AIRFLOW__CORE__LOAD_EXAMPLES=False
       - PYTHONPATH=/opt/airflow
       - AIRFLOW__WEBSERVER__BASE_URL=http://localhost:8080
       - AIRFLOW__LOGGING__REMOTE_LOGGING=False
       - AIRFLOW__LOGGING__BASE_LOG_FOLDER=/opt/airflow/logs
       - AIRFLOW__CORE__BASE_LOG_FOLDER=/opt/airflow/logs
       - AIRFLOW__LOGGING__LOGGING_LEVEL=INFO
       - AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True
       - AIRFLOW__WEBSERVER__WORKER_LOG_SERVER_PORT=8793
       - AIRFLOW__LOGGING__LOG_FILENAME_TEMPLATE="{{ ti.dag_id }}/{{ ti.task_id }}/{{ ts }}/{{ try_number }}.log"
      
       - AIRFLOW__EMAIL__EMAIL_BACKEND=airflow.providers.smtp.utils.sendgrid.SendgridEmailBackend
       - AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
       - AIRFLOW__SMTP__SMTP_PORT=587
       - AIRFLOW__SMTP__SMTP_USER=your-email@gmail.com
       - AIRFLOW__SMTP__SMTP_PASSWORD=your-app-password
       - AIRFLOW__CORE__DEFAULT_VIEW=graph
      
       - SPARK_HOME=/usr/local/spark
       - PYSPARK_PYTHON=/usr/local/bin/python3
       - PYSPARK_DRIVER_PYTHON=/usr/local/bin/python3
     volumes:
       - airflow_data:/opt/airflow
       - ./dags:/opt/airflow/dags
       - ./utils:/opt/airflow/utils
       - ./data:/opt/airflow/data
       - ./datamart:/opt/airflow/datamart
       - ./model_bank:/opt/airflow/model_bank
       - ./logs:/opt/airflow/logs
       - ./plugins:/opt/airflow/plugins
     ports:
       - "8080:8080"
     command: webserver
   airflow-scheduler:
     build: .
     depends_on:
       - airflow-init
     environment:
       - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
       - AIRFLOW__CORE__FERNET_KEY=PAqBeGJLJTYFzVkOGHWIYXdLO7XdXz5yTdxAGJe9ezM=
       - AIRFLOW__CORE__LOAD_EXAMPLES=False
       - PYTHONPATH=/opt/airflow
       - AIRFLOW__WEBSERVER__BASE_URL=http://localhost:8080
       - AIRFLOW__LOGGING__REMOTE_LOGGING=False
       - AIRFLOW__LOGGING__BASE_LOG_FOLDER=/opt/airflow/logs
       - AIRFLOW__CORE__BASE_LOG_FOLDER=/opt/airflow/logs
       - AIRFLOW__LOGGING__LOGGING_LEVEL=INFO
       - AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True
       - AIRFLOW__WEBSERVER__WORKER_LOG_SERVER_PORT=8793
       - AIRFLOW__LOGGING__LOG_FILENAME_TEMPLATE="{{ ti.dag_id }}/{{ ti.task_id }}/{{ ts }}/{{ try_number }}.log"

       - AIRFLOW__EMAIL__EMAIL_BACKEND=airflow.providers.smtp.utils.sendgrid.SendgridEmailBackend
       - AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
       - AIRFLOW__SMTP__SMTP_PORT=587
       - AIRFLOW__SMTP__SMTP_USER=your-email@gmail.com
       - AIRFLOW__SMTP__SMTP_PASSWORD=your-app-password
       - AIRFLOW__CORE__DEFAULT_VIEW=graph
      
       - SPARK_HOME=/usr/local/spark
       - PYSPARK_PYTHON=/usr/local/bin/python3
       - PYSPARK_DRIVER_PYTHON=/usr/local/bin/python3
     volumes:
       - airflow_data:/opt/airflow
       - ./dags:/opt/airflow/dags
       - ./utils:/opt/airflow/utils
       - ./data:/opt/airflow/data
       - ./datamart:/opt/airflow/datamart
       - ./model_bank:/opt/airflow/model_bank
       - ./logs:/opt/airflow/logs
       - ./plugins:/opt/airflow/plugins
     command: scheduler
volumes:
  airflow_data: